{% extends 'base.html' %}

{% block content %}
    <h2>Productos disponibles</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto['nombre'] }}</td>
                <td>${{ producto['precio'] }}</td>
                <td>{{ producto['cantidad'] }}</td>
                <td>
                    <form action="{{ url_for('eliminar_producto', producto_id=producto['_id']) }}" method="POST">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Clientes Registrados</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Documento</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente['nombre_cliente'] }}</td>
                <td>{{ cliente['documento_cliente'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
